@font-face {
  font-family: 'nta';
  src: url('../fonts/NTA-Light.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'nta';
  src: url('../fonts/NTA-Bold.woff') format('woff');
  font-weight: bold;
}

body {
  font-family: 'nta';
  font-size: 19px;
  color: #333;
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
}

a {
  color: #2e3191;
}

a:hover {
  color: #2e8aca;
}

article ul {
  padding-left: 1em;
}

article li {
  list-style-image: url(../images/bullet-disc-5px.gif);
  margin: 0.25em 0;
  padding-left: 0.3em;
}

article .example {
  border-left: 10px solid #EAEDEF;
  padding-left: 1.5em;
  margin: 2.5em 0;
}
